 .song {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding-left: 15rem;
 }

 .album-image {
   display: grid;
   grid-auto-flow: column;
   height: 60px;
   width: 60px;
 }

 .song-info {
   display: grid;
   grid-auto-flow: column;
   grid-column: 2;
   width: 50px;
 }

 .level-info {
   display: grid;
   grid-auto-flow: column;
   height: 80px;
   width: 80px;
 }

 .favorite-button {
   background-color: #000000;
   border: 0;
   flex: 10%;
 }