.song-list {
    display: grid;
    color: white;
    /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1.5rem;
    justify-items: center; */
    margin: 0;
    padding: 0;
}

.filter {
  background-color: #000000;
  color: white;
  float: right;
}