.App-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  text-align: center;
  height: 250px;
  background-image: url('./assets/yousician-hero.png');
}

.input-container {
  width: 100%;
  text-align: center;
  margin-top: -3%;
}

.search-input {
  position: relative;
  width: 34rem;
  border-radius: 25px;
  border: 1px solid white;
  height: 20px;
  margin-left: 1rem;
  padding: 0.4rem;
  text-align: center;
}

.search-icon {
  position: relative;
  height: 16px;
  width: 16px;
  padding: 5px;
  margin: 12px 20px;
  background: url('./assets/icons/search.svg') center center / cover no-repeat;
  cursor: pointer;
}