body {
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  text-align: center;
  height: 250px;
  background-image: url('./assets/yousician-hero.png');
}

.input-container {
  width: 100%;
  text-align: center;
  position: relative;
}

.input-container img {
  position: fixed;
  float: right;
}

.search-input {
  position: relative;
  width: 34rem;
  border-radius: 25px;
  border: 1px solid #ffffff;
  height: 20px;
  margin-left: 1rem;
  padding: 0.4rem;
  text-align: center;
  background: url('./assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #ffffff;
}